<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Feedback App</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">How it works</a>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        <%= link_to('Admin', trestle_path, class: 'nav-link') if current_user.admin? %>
      <% else %>
        <%= link_to('Login', new_user_session_path, class: 'nav-link')  %>
      <% end %>
    </nav>
  </div>
</header>
